<!DOCTYPE html>
<html>
<head>
  <title>Welcome to TimeTable Genie</title>
</head>
<body>
  <div style="text-align: center;">
    <h1>Welcome to TimeTable Genie</h1>
    <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
  </div>
</body>
</html>
