<!DOCTYPE html>
<html>
<head>
  <title>Signup - TimeTable Genie</title>
</head>
<body>
  <h2>Signup Page</h2>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

  <form action="/signup" method="POST">
    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Sign Up</button>
  </form>

  <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>
